body{
    height:1000px;
}
.mask{
    position: fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    /* background:rgba(0,0,0,.3);  */
    z-index: -1;
}

.center {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);

    width:400px;
    height:200px;
    color:#fff;
    font-size:30px;
    /* background:#fff; */
    
}
.center .close{
    position: absolute;
    right:10px;
    bottom:10px;
    cursor:pointer;
}

.show {
    position: absolute;
    right:30px;
    bottom:30px;
    cursor:pointer;
}